.btn{
  display: inline-block;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: $font-family-proxima-nova-semibold;
  @include border-radius(5px);
  @include unstyled-link;

  .fa + span,
  span + .fa{
    padding-left: .6em;
  }

  &.m-primary, &.m-active{
    @include button-variant(white, $color-orange-d);
    &:hover{ @include button-variant(white, darken($color-orange-d, 3%) ); }
  }

  &.m-disactive{
    @include button-variant(white, $color-gray);
  }

  &.m-small{
    padding: 6px 10px;
    font-size: 14px;
  }
}



