.btn{
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: $font-family-proxima-nova-semibold;
  @include unstyled-link;

  .fa + span,
  span + .fa{
    padding-left: .6em;
  }

  &.m-primary, &.m-active{
    @include img-button-variant(white, 'btn-m-primary');
  }

  &.m-disactive, &.m-disable{
    @include img-button-variant(white, 'btn-m-disabled');
    &:hover, &:active, &:focus, &:visited{ opacity: 1; }
  }

  &.m-small{
    @include img-button-variant(white, 'btn-m-primary', 'sm');
    font-size: 14px;

    &.m-disactive, &.m-disable {
      @include img-button-variant(white, 'btn-m-disabled', 'sm');
      &:hover, &:active, &:focus, &:visited { opacity: 1; }
    }
  }
}



