$el: '.cart-checkout';

#{$el}{
  width: 280px;

  small {
    color: $color-gray;
    font-family: $font-family-proxima-nova-regular;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
  }

  small, #{$el}__total-price{
    @include inline-block(middle);
  }

  #{$el}__total-price{ padding-left: 1em; font-size: 28px; }

  em{
    color: $color-gray;
    display: block;
    font-size: 16px;
    font-style: italic;
    text-align: center;
  }
}

#{$el}__btn{
  margin: $font-size-base 0 10px;
}