$el: '.cart-table-card';


// строка в таблице с товарами в корзине
#{$el}{
  img{
    max-width: 128px;
    max-height: 128px;
    width: auto;
    height: auto;
    border: 1px solid $color-gray;
  }

  h3{
    font-family: $font-family-proxima-nova-bold;
    font-size: 18px;
    a{ @include link-variant($color-asphalt); border-color: transparent; }
  }

  h5{
    font-family: $font-family-proxima-nova-semibold;
    color: $color-gray;
    font-size: 16px;
    line-height: 1.2;
  }

  p{ margin-bottom: 10px; line-height: 1.5}

  small, .small {
    font-family: $font-family-proxima-nova-semibold;
    color: $color-gray-d;
    margin-bottom: $font-size-base;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
  }

}

// часть компонента для отрисовки «количества» продукции
// содержит цифру и буку х
#{$el}__qty{
  font-family: $font-family-proxima-nova-semibold;
  color: $color-asphalt;
  margin-bottom: $font-size-base;
  font-size: $font-size-base;
  text-transform: uppercase;

  &:before{
    font-family: $font-family-proxima-nova-semibold;
    color: $color-gray-d;
    content: 'x';
    font-size: 9px;
    padding-right: .3em;
  }
}

#{$el}__remove-btn{
  font-size: 20px;
}