$el: '.cart-checkout';

#{$el}{
  width: 280px;

  small {
    color: $color-gray;
    font-family: $font-family-proxima-nova-regular;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
  }

  small, #{$el}__total-price{
    @include inline-block(middle);
  }

  #{$el}__total-price{ font-size: 28px; }

  em{
    color: $color-gray;
    display: block;
    font-size: 16px;
    font-style: italic;
    text-align: center;
  }
}

#{$el}__btn{
  margin: $font-size-base 0 10px;
}


// область под скидку пользователю
#{$el}__discount-amount{
  font-size: 20px;
  margin-bottom: 2*$font-size-base;

  &, small {
    font-family: $font-family-proxima-nova-regular;
    color: $color-green-d;
  }
}

// область описания перед ценой,
// например «итого к оплате»
#{$el}__price-left, #{$el}__price-right{
  @include inline-block(middle);
  width: 49.9%;
}

#{$el}__price-left{ text-align: right; padding-right: $font-size-base; }