$el: '.cart-table';

$cell-padding: 20px;

#{$el} { margin-top: 30px; width: 100%; }

// строка в таблице с товарами
#{$el} > tbody > tr >,
#{$el} > thead > tr > {

  th, td{ @include reset-table-cell; }

  th{
    font-family: $font-family-proxima-nova-regular;
    color: $color-gray;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    padding: $cell-padding $cell-padding $cell-padding/2;

    &:first-child{ padding-left: 0; }
  }

  td, th{
    border-bottom: 1px solid $color-red;
  }

  td{
    padding: $cell-padding;
    &:first-child{ padding-left: 0; }
  }
}