$el: '.checkbox';

// кастомный чекбокс
#{$el}{
  > span { @include inline-block(middle); }
  #{$el}__icon{ @include inline-block(text-bottom); }

  input[type='checkbox']{ display: none; }
}

// иконка чекбокса
#{$el}__icon{
  $size: 18px;
  @include sprites-sprite(checkbox-default);

  width: $size;
  height: $size;
  margin-right: $font-size-base/2;

  &.m-active{ @include sprites-sprite(checkbox-checked); }
}
