$el: '.container';

#{$el}{
  margin: 0 auto;
  width: $container;
  padding: 0 $grid-cutter;
  position: relative;
}

#{$el}__column{
  &.m-sidebar, &.m-main{ @include inline-block(top); }

  &.m-sidebar { width: $sidebar-width; }
  &.m-main.m-with-sidebar { width: $container - $sidebar-width - 2*$grid-cutter; }
}
