$el: '.footer';


#{$el}{
  margin-bottom: $font-size-base*3;
}

// логотип, текст и поисковая строка в футере
#{$el}__logo, #{$el}__meta p, #{$el}__search{
  @include inline-block(middle);
}

#{$el}__logo{ width: 185px;}
#{$el}__meta p{ width: 555px;}
#{$el}__search{ width: 410px;}

#{$el}__meta p{
  color: $color-gray;
  font-size: $font-size-base;
  font-family: $font-family-proxima-nova-regular;
}

// =====
// один столбец пункта меню в футере
#{$el}__menu__item{
  @include inline-block(top);
  width: 24.999%;

  // ссылки идущие одна под другой
  .link{
    display: block;
    margin-bottom: 1em;
    & + .link{ margin-left: 0; padding-left: 0; }
  }
}

#{$el}__menu__header{
  @include inline-block(top);
  color: $color-red;
  border-bottom: 3px solid $color-red;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 700;
  margin-bottom: .8em;
}


// колонки под пункты меню и виджет соц.сети
#{$el}__left-block, #{$el}__right-block{
  @include inline-block(top);
}

#{$el}__left-block{ width: 740px; }
#{$el}__right-block{ width: 410px; padding-top: $font-size-base; }


// блок с оплатой и иконками оплаты
#{$el}__payment{
  color: $color-gray;
  font-family: $font-family-proxima-nova-regular;
  font-size: $font-size-base;
  margin-top: $font-size-base*0.7;
  margin-bottom: $font-size-base*1.4;

  img{ vertical-align: middle; padding-left: 20px; margin-top: -4px;}
}


// блок с контактами
#{$el}__contacts{
  color: $color-gray;
  font-family: $font-family-proxima-nova-regular;
  font-size: $font-size-base;

  .link{ display: block;}
  p{ margin-bottom: .4em; }

  p + .link{
    font-family: $font-family-proxima-nova-semibold;
    font-size: 32px;
    color: $color-asphalt;
    margin-bottom: $font-size-base*0.7;
  }

  .link + .link{
    padding-left: 0; margin-left: 0;
  }
}
