$el: '.form';

$label-width: 165px;
$padding: 10px;
$border-diff: 2px;

#{$el} {

  label, input, textarea, #{$el}__help {
    @include inline-block(middle);
  }

  label {
    @extend .text-small;
    width: $label-width;
  }

  input, textarea {
    @include border-radius(7px);
    @include reset-focus;

    font-family: $font-family-proxima-nova-semibold;
    font-size: 16px;
    border: 1px solid $color-gray;
    padding: $padding;
    margin: $border-diff;

    &:focus, &:active, &.m-active {
      border-color: $color-blue;
      border-width: 1px + $border-diff;
      margin: 0;
    }
  }

  textarea {
    resize: none;
  }
}

// помощь к инпутам
#{$el}__help {
  @extend .text-italic;
  padding-left: $font-size-base;
}

#{$el}__error{
  color: $color-red;
  padding-left: $font-size-base;
  font-size: $font-size-base;
  font-family: 'PT Serif';
  font-style: italic;
}

#{$el}__row {
  margin-bottom: $font-size-base*1.3;

  // строка содержит инпут с ошибкой
  &.m-error{
    input, textarea {
      &, &:focus, &:active, &.m-active {
        border-color: $color-red;
      }
    }
  }

  // кнопка «заказать»
  &.m-checkout {
    margin-left: $label-width;
    #{$el}__help {
      display: block;
      padding-left: 0;
      margin-top: $font-size-base/2;
    }
  }

  &.m-checkbox{ margin-top: 10px; }
  &.m-offset{ margin-left: $label-width; }

  // поле с адресом
  &.m-address {
    label {
      @include inline-block(top);
      padding-top: $font-size-base;
    }
  }
}

