$el: '.header';
$height: 100px;

#{$el}{
  background: transparent;
  height: $height;
  padding-top: 10px;

  font-family: $font-family-proxima-nova-semibold;

  position: relative;
  z-index: 1;
}

#{$el}__logo,
#{$el}__search,
#{$el}__links,
#{$el}__contacts{
  @include inline-block();
}

#{$el}__logo{ width: 19.999%; }
#{$el}__search{ width: 24.999%; padding-right: 2em; }
#{$el}__links{ width: 27.999%; }
#{$el}__contacts{ width: 26.999%; }

#{$el}__logo__lg {
  color: $color-orange;
  display: block;
  font-size: 0;
  line-height: 0;
  img { margin-left: -2px; }// т.к.обрезаем картинку с плавными переходами и есть пустая область слева
}

#{$el}__logo small{
  color: $color-gray;
  font-size: 13px;
}

// ПОИСКОВАЯ СТРОКА
#{$el}__search{

}

// ССЫЛКИ КОРОТКОГО МЕНЮ
#{$el}__links{
  text-align: right;
  .link + .link{ margin-left: 20px; }
}

// БЛОК С КОНТАКТАМИ
#{$el}__contacts__phone{
  @include unstyled-link;
  font-family: $font-family-proxima-nova-semibold;
  color: $color-asphalt;
  font-size: 32px;
}


#{$el}.m-extra-header{

  #{$el}__logo small{ color: white; }

  #{$el}__links,
  #{$el}__contacts{
    &, #{$el}__contacts__phone{ color: white };
    .link{ @include link-variant(white)}
  }
}