$el: '.header';
$height: 100px;

#{$el}{
  background: transparent;
  height: $height;
  padding-top: 10px;

  font-family: $font-family-proxima-nova-semibold;
}

#{$el}__logo,
#{$el}__search,
#{$el}__links,
#{$el}__contacts{
  @include inline-block();
}

#{$el}__logo{ width: 19.999%; }
#{$el}__search{ width: 24.999%; padding-right: 2em; }
#{$el}__links{ width: 27.999%; }
#{$el}__contacts{ width: 26.999%; }

#{$el}__logo__lg {
  color: $color-orange;
  display: block;
  font-size: 0;
  line-height: 0;
  img { margin-left: -2px; }// т.к.обрезаем картинку с плавными переходами и есть пустая область слева
}

#{$el}__logo small{
  color: $color-gray;
  font-size: 13px;
}

// ПОИСКОВАЯ СТРОКА
#{$el}__search{

}

// ССЫЛКИ КОРОТКОГО МЕНЮ
#{$el}__links{
  .link + .link{ margin-left: 20px; }
}

// БЛОК С КОНТАКТАМИ
#{$el}__contacts__phone{
  @include unstyled-link;
  font-size: 32px;
  color: $color-asphalt;
}


#{$el}.m-extra-header{
  z-index: 99;

  #{$el}__bg{
    $width: 1200px;

    background-image: image-url('extra-header-bg.png');
    background-position: center top;
    background-repeat: no-repeat;

    position: absolute;
    z-index: -1;
    top: 0;

    width: $width;
    height: 600px;
    margin-left: ($container - $width)/2 - $grid-cutter;
  }

  #{$el}__logo small{ color: white; }

  #{$el}__links,
  #{$el}__contacts{
    &,
    .link,
    #{$el}__contacts__phone{ color: white };
  }
}