$el: '.header';
$height: 100px;

#{$el}{
  background: transparent;
  height: $height;
  padding-top: 10px;
}

#{$el}__logo,
#{$el}__search,
#{$el}__links,
#{$el}__contacts{
  @include inline-block();
}

#{$el}__logo{ width: 19.999%; }
#{$el}__search{ width: 24.999%; }
#{$el}__links{ width: 24.999%; }
#{$el}__contacts{ width: 24.999%; }

#{$el}__logo__lg {
  color: $color-orange;
  display: block;
  font-size: 0;
  line-height: 0;
  img { margin-left: -2px; }// т.к.обрезаем картинку с плавными переходами и есть пустая область слева
}

#{$el}__logo small{
  color: $color-gray;
  font-size: 13px;
}

// ПОИСКОВАЯ СТРОКА
#{$el}__search{
  position: relative;
  $input-padding: 10px;
  $icon-size: 16px;
  $padding-right: 25px;
  padding-right: $padding-right;

  input{
    @include border-radius(3px);
    @include reset-focus;
    border: 1px solid $color-gray;
    background: rgba(255,255,255,0.2);
    width: 100%;
    padding: $input-padding;
    padding-right: $icon-size*2;
    font-size: $font-size-base;
  }

  .link{
    border: none;
    background: transparent;
    color: $color-gray;
    position: absolute;
    right: $icon-size + $padding-right;
    padding-top: $input-padding + 3px;
    font-size: $icon-size;
  }
}

// ССЫЛКИ КОРОТКОГО МЕНЮ
#{$el}__links{
  .link + .link{ margin-left: 20px; }
}

// БЛОК С КОНТАКТАМИ
#{$el}__contacts__phone{
  @include unstyled-link;
  font-size: 32px;
  color: $color-asphalt;
}


#{$el}.m-extra-header{
  #{$el}__bg{
    $width: 1600px;

    background-image: image-url('extra-header-bg.png');
    background-position: center top;
    background-repeat: no-repeat;

    position: absolute;
    z-index: -10;
    top: 0;

    width: $width;
    height: 600px;
    margin-left: ($container - $width)/2 - 25px;
  }

  #{$el}__logo small{ color: white; }

  #{$el}__search{
    .link{ color: white; }
    input{
      border-color: white;
      color: white;
      &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: white;
      }
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
      }
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: white;
      }
    }
  }

  #{$el}__links,
  #{$el}__contacts{
    &,
    .link,
    #{$el}__contacts__phone{ color: white };
  }
}