$el: '.link';

#{$el}{
  @include inline-block(top);
  @include unstyled-link;
  color: $color-blue;
  font-size: $font-size-base;
  font-family: $font-family-proxima-nova-regular;
  + #{$el}{ margin-left: 10px; }

  span + .fa,
  .fa + span{
    padding-left: .4em;
  }
}