$el: '.link';

#{$el}{
  @include inline-block(top);
  @include link-variant($color-blue, mix(#000, $color-blue, 20%));
  font-size: $font-size-base;
  font-family: $font-family-proxima-nova-regular;
  font-weight: 100;


  + #{$el}{ margin-left: 10px; }

  span + .fa,
  .fa + span{
    padding-left: .4em;
  }
}


#{$el}.m-red{
  @include link-variant($color-red);
  @include link-without-border;
}

#{$el}.m-simple{
  @include link-without-border;
}

