$el: '.link';

#{$el}{
  @include inline-block(top);
  @include link-variant($color-blue, mix(#000, $color-blue, 20%));
  font-size: $font-size-base;
  font-family: $font-family-proxima-nova-regular;
  font-weight: 100;
  vertical-align: baseline;


  + #{$el}{ margin-left: 10px; }

  span + .fa,
  .fa + span{
    padding-left: .4em;
  }
}


#{$el}.m-red{
  @include link-variant($color-red);
  @include link-without-border;
}

#{$el}.m-simple{
  @include link-without-border;
}


// ссылка,внутри которой находится картинка и текст по центру картинки выровнен
#{$el}.m-img-box{
  @include inline-block(top);
  @include unstyled-link;
  @include link-without-border;

  padding: 0 0 1em;

  // чтобы следующий элемент не имел отступа
  + #{$el}{ margin-left: 0; padding-left: 0; }
}