$el: '.login-page';

#{$el}{ margin-bottom: 100px; }
#{$el}__header{ margin-bottom: $font-size-base*2; }
#{$el}__info{
  font-family: $font-family-proxima-nova-semibold;
  color: $color-gray-d;
  font-size: 16px;
  margin-top: $font-size-base*3;

  .link{
    font-size: 16px;
    font-family: $font-family-proxima-nova-semibold;
  }
}