$el: '.main-menu';

#{$el}{
  @include box-shadow(0 16px 30px -25px);
  height: 55px;
  width: $container;
  margin-left: -$grid-cutter;
  background: #f2f2f2;

  position: relative;
  z-index: 1;
}

#{$el}__left, #{$el}__right{
  @include inline-block(middle);
}

#{$el}__left { width: 84.999%; padding: $font-size-base/2 $grid-cutter 0;}
#{$el}__right{ width: 14.999%; padding-top: 10px; }


// рутовый уровень меню
#{$el}__root{
  > li {
    @include inline-block(middle);
    + li { margin-left: $font-size-base*2; }

    // только первый уровень ссылок
    > a{
      @include unstyled-link;
      color: $color-orange-d;
      font-family: $font-family-proxima-nova-semibold;

      &:after{
        @include inline-block(middle);
        padding-left: .4em;
        content: '\f078';
        font-family: FontAwesome;
        font-size: .7em;
      }
    }
  }
}


// выпадающий уровень меню
#{$el}__2level{
  display: none;
}

#{$el}__root > li:hover{
  #{$el}__2level{
    background: $color-orange;
    padding: $font-size-base*3;
    display: block;
    position: absolute;

    > li {
      @include inline-block(top);
      width: 200px;

      > a{ @include unstyled-link; color: white; }

      ul{ margin-top: .7em; }

      li a {
        @include link-variant($color-asphalt);
        margin-bottom: .7em;
      }
    }
  }

  // пустое меню не показываем
  #{$el}__2level:empty{ background: transparent; }
}