$el: '.main-slider';
$js-el: '.js-main-slider';
$slider-height: 700px;
$slider-offset-top: 155px;

#{$el}{
  height: $slider-height;
  margin-left: -$grid-cutter;
  margin-right: -$grid-cutter;
  margin-top: -$slider-offset-top;
  overflow: hidden;
  position: relative;

  // стили под стилизованные кнопки влево-вправо
  nav a {
    position: absolute;
    top: 50%;
    display: block;
    outline: none;
    text-align: left;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  nav a.prev {
    left: 0;
  }

  nav a.next {
    right: 0;
  }

  .nav-growpop .icon-wrap {
    $color: rgba(0,0,0,0.5);
    position: relative;
    z-index: 100;
    display: block;
    padding: 20px 10px;
    border: 0px solid $color;
    background: $color;
    -webkit-transition: border-width 0.3s 0.15s;
    transition: border-width 0.3s 0.15s;

    color: white;
    font-size: 40px;
  }
  .nav-growpop div {
    position: absolute;
    top: 50%;
    padding: 20px;
    width: 440px;
    height: 144px;
    background: #fff;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
  }

  .nav-growpop a.prev div {
    left: 0;
    padding: 20px 140px 20px 70px;
    text-align: right;
    -webkit-transform: translateY(-50%) translateX(-100%) scale(0.75);
    transform: translateY(-50%) translateX(-100%) scale(0.75);
  }

  .nav-growpop a.next div {
    right: 0;
    padding: 20px 70px 20px 140px;
    -webkit-transform: translateY(-50%) translateX(100%) scale(0.75);
    transform: translateY(-50%) translateX(100%) scale(0.75);
  }

  .nav-growpop span {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #cdcdcd;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.2;
  }

  .nav-growpop h3 {
    margin: 0;
    padding: 8px 0 10px;
    color: #818181;
    font-weight: 300;
    font-size: 1.325em;
    line-height: 1.2;
  }

  .nav-growpop div p {
    margin: 0;
    color: #b24e44;
    font-style: italic;
    font-size: 75%;
    font-family: "Lucida Bright", Georgia, serif;
  }

  .nav-growpop img {
    position: absolute;
    top: 20px;
  }

  .nav-growpop a.prev img {
    right: 20px;
  }

  .nav-growpop a.next img {
    left: 20px;
  }

  .nav-growpop a:hover .icon-wrap {
    border-top-width: 40px;
    border-bottom-width: 40px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .nav-growpop a:hover div {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateY(-50%) translateX(0) scale(1);
    transform: translateY(-50%) translateX(0) scale(1);
  }
}

// контейнер под слайдеры сдвигаем под самый верх сайта
#{$el}__container{
  height: $slider-height;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2; // выставлен, чтобы картинка находила под градиент и текст шапки
}

// итем под слайд
#{$el}__item {
  position: relative;
  padding: $slider-offset-top $grid-cutter 0;
  width: $container;


  // изображение под задний фон слайдера
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}


// внутри расположен текст слайда
#{$el}__txt-area{
  padding-top: 100px;

  h4, p{ color: white; }
  p{ font-size: 20px; }
  h4{ font-size: 60px; font-family: $font-family-conqueror; }

  .btn{ margin-top: 40px; }
}


// кнопки влево вправо для листания слайдов
#{$el}__btn{
  @include unstyled-link;
}


// js-стили для работы слайдера
#{$js-el}-item{
  @include inline-block(top);
}