$el: '.main-menu';

$cart-widget-width: 130px;
$user-bar-width: 180px;
$menu-width: $container - $cart-widget-width - $user-bar-width;

#{$el}{
  @include box-shadow(0 16px 30px -25px);
  height: $menu-height;
  width: $container;
  margin-left: -$grid-cutter;
  background: #f2f2f2;
  box-shadow: 0 7px 10px -8px;

  position: relative;
  z-index: 1;
}

#{$el}__left, #{$el}__right{
  @include inline-block(middle);
}

#{$el}__left.m-menu{ width: $menu-width; height: 100%; }
#{$el}__right.m-user-bar{ width: $user-bar-width; padding-right: 10px; }
#{$el}__right.m-cart{ width: $cart-widget-width;}

#{$el}__left { padding: 0 0 0 $grid-cutter/2;}
#{$el}__right{ padding-right: $grid-cutter; }


// рутовый уровень меню
#{$el}__root{
  > #{$el}__item {
    $sprite-height: 33px;
    @include inline-block(middle);

    line-height: $sprite-height - 5px; // вычитаем,потому что спрайт снизу имеет пустоту для тени, относительно которой шрифт не должен равняться
    height: $sprite-height;
    margin-top: ($menu-height - $sprite-height)/2;
    text-align: center;

    // выключаем левый отступ в меню, потому что не вмещается
    // + #{$el}__item { margin-left: $font-size-base*2; }

    // особый стиль под заголовок имени пользователя
    // у которого тоже есть выпадающее меню
    &.m-user-name{
      > a { color: $color-blue; border-style: dashed; }
      &.selected > a { color: white; border-bottom-color: transparent;}
    }

    // только первый уровень ссылок
    > a{
      @include unstyled-link;
      color: $color-orange-d;
      font-family: $font-family-proxima-nova-semibold;
      display: inline-block;
      padding-top: .4em;
      line-height: 1.2;
    }

    // размеры кнопок в кол-ве символов,
    // определяется с помощью js
    &.m-sm  { width: 72px; }
    &.m-m   { width: 102px; }
    &.m-l   { width: 129px; }
    &.m-xl  { width: 172px; }

    // на пункт меню навели мышку
    &.m-sm.m-active { @include sprites-sprite('btn-menu-sm'); }
    &.m-m.m-active  { @include sprites-sprite('btn-menu-m'); }
    &.m-l.m-active  { @include sprites-sprite('btn-menu-l'); }
    &.m-xl.m-active { @include sprites-sprite('btn-menu-xl'); }

    // на пункт меню навели мышку
    &.m-sm.selected { @include sprites-sprite('btn-menu-sm-active'); > a { color: white; } }
    &.m-m.selected { @include sprites-sprite('btn-menu-m-active'); > a { color: white; }}
    &.m-l.selected { @include sprites-sprite('btn-menu-l-active'); > a { color: white; }}
    &.m-xl.selected { @include sprites-sprite('btn-menu-xl-active'); > a { color: white; }}

    // стрелочка у пункта
    &.m-arrow {
      > a:after {
        @include inline-block(middle);
        padding-left: .4em;
        content: '\f078';
        font-family: FontAwesome;
        font-size: .7em;
      }
    }
  }
}


// специальная заглушка
// основное назначение,чтобы при движении мыши с главного пункта
// на выпадающее меню,не происходило переключения на соседний пункт меню справа
#{$el}__block{
  height: $menu-height;
  position: absolute;
  width: 5%;
  display: none;
  cursor: pointer;
}

// заглушка между пунктом меню и подпунктами под стрелочкой
// должна вставляться перед ссылкой,тогда верно позиционируется
#{$el}__block2 {
  top: $menu-height - 15px;
  height: 15px;
  position: absolute;
  width: 160px;
  display: none;
  cursor: pointer;
}


// выпадающий уровень меню
#{$el}__2level{
  background: $color-logo;
  padding: $font-size-base*2 $font-size-base*3;
  margin-left: -$grid-cutter/2;
  position: absolute;
  opacity: 0;
  visibility: hidden;

  // сбрасываем стили от главного элемента,
  // они были применены, чтобы фон у пунктов отрисовывался
  line-height: 1.2;
  text-align: left;

  @include transform(translateY(-100px));
  @include transition(transform .2s ease-in-out, opacity .05s ease-in-out);


  // подменю у пользователя имеет особенный стиль
  &.m-user-name{ max-width: 240px; }


  // стрелка
  &:before{
    $width: 8px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $width $width $width;
    border-color: transparent transparent $color-logo transparent;
    position: absolute;
    top: -$width;
    left: $font-size-base*3 + $width;
  }

  // типы подменю, выравниваются по линии
  > #{$el}__item-title {
    @include inline-block(top);
    width: 200px;

    // заголовок типа подменю
    // <для лица> например
    > a{
      @include unstyled-link;
      font-family: $font-family-proxima-nova-bold;
      color: $color-asphalt;
      font-size: 16px;
      cursor: default;
    }

    ul{
      margin-top: 1em;
      &:empty{ margin-top: 0; }
    }

    // ссылка в конкретном типе подменю
    #{$el}__item{
      margin-bottom: .7em;
      a {
        @include link-variant($color-asphalt, white);
        display: inline;
        font-family: $font-family-proxima-nova-semibold;
        font-size: $font-size-base;
      }
    }
  }
}

#{$el}__root > #{$el}__item.m-active{
  #{$el}__block, #{$el}__block2 { @include inline-block(top); }

  #{$el}__2level{
    display: block;
    visibility: visible;
    opacity: .99;

    @include transform(translateY(10px));
    @include transition(transform .1s ease-in-out, opacity .3s ease-in-out);
  }

  // пустое меню не показываем
  #{$el}__2level:empty{ background: transparent; }
}
