$el: '.main-page';

#{$el}{
  padding: 0 $grid-cutter;
}


#{$el}__brands{ }

// область описания одного бренда
#{$el}__brand-info{
  $height: 130px;

  position: relative;
  margin-bottom: $font-size-base;
  width: $container - 4*$grid-cutter - $grid-cutter;

  p, .link{ display: block; margin-left: 290px; line-height: 1.5; }
  p{ color: $color-gray; padding-top: 15px; }

  // особые стили для позиционирования брендов
  img{ float: left; }
  img#brand1{ padding-top: 20px; padding-left: 30px;}
  img#brand2{ padding-top: 20px; padding-left: 40px;}
  img#brand3{ padding-top: 40px; padding-left: 20px;}


  // область фона и стрелок слева справа у активного элемента
  $active-color-bg: white;
  $color-bg: #fffcf1;
  $border-width: 4px;
  height: $height;
  background-color: $color-bg;
  border: $border-width solid $color-bg;

  // главные настройки для стрелок у блока
  &:after, &:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  // большая стрелка цвета фона
  &:before {
    border-color: transparent;
    border-left-color: $color-bg;
    border-width: $grid-cutter;
    margin-top: -$height/2;
    border-bottom-width: $height/2;
    border-top-width: $height/2;
    margin-left: $border-width;
  }

  &.m-active, &:hover {
    border: $border-width solid $color-orange;
    background-color: $active-color-bg;

    // стрелка фон
    &:after {
      border-color: transparent;
      border-left-color: $active-color-bg;
      border-width: $grid-cutter - $border-width/2;
      margin-top: -$height/2 + $border-width;
      border-bottom-width: $height/2 - $border-width;
      border-top-width: $height/2 - $border-width;
    }
    // большая стрелка обрамление цветом рамки
    &:before {
      border-color: transparent;
      border-left-color: $color-orange;
      border-width: $grid-cutter;
      margin-top: -$height/2;
      border-bottom-width: $height/2;
      border-top-width: $height/2;
      margin-left: $border-width;
    }
  }
}