$el: '.main-slider';
$js-el: '.js-main-slider';
$slider-height: 700px;
$slider-offset-top: 155px;

#{$el}{
  height: $slider-height;
  margin-left: -$grid-cutter;
  margin-right: -$grid-cutter;
  margin-top: -$slider-offset-top;
  overflow: hidden;
  position: relative;
}

// контейнер под слайдеры сдвигаем под самый верх сайта
#{$el}__container{
  height: $slider-height;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2; // выставлен, чтобы картинка находила под градиент и текст шапки
}

// итем под слайд
#{$el}__item {
  position: relative;
  padding: $slider-offset-top $grid-cutter 0;
  width: $container;


  // изображение под задний фон слайдера
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}


// внутри расположен текст слайда
#{$el}__txt-area{
  padding-top: 100px;

  h4, p{ color: white; }
  p{ font-size: 20px; }
  h4{ font-size: 60px; font-family: $font-family-conqueror; }

  .btn{ margin-top: 40px; }
}


// кнопки влево вправо для листания слайдов
#{$el}__btn{
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: red;
  &.m-prev{ left: 0; }
  &.m-next{ right: 0; }
}


// js-стили для работы слайдера
#{$js-el}-item{
  @include inline-block(top);
}