$el: '.page';

#{$el}{
  @include reset-float;
  overflow: hidden;

  margin-top: 60px;

  > h1, > h2, > h3, > h4{ margin-bottom: 1em; }
}


#{$el}__right{ @include float-right; }
#{$el}__left{ @include float-left; }


// определенные модификаторы, для специальных страниц
#{$el} {

  // встречается на сранице корзины у блоков общей стоимости
  .m-page-cart-checkout{
    margin-top: 2*$font-size-base;
  }
  .m-page-cart-checkout-txt{
    color: $color-gray;
    margin-top: 2*$font-size-base + 4px;
    font-style: italic;
    font-size: 16px;
    width: 580px;
  }

  // встречаются на странице списка продукта
  .m-product-list{
    margin-top: $font-size-base*2;

    small{
      @include inline-block(middle);
      font-family: $font-family-proxima-nova-semibold;
      color: $color-asphalt;
      margin-right: $font-size-base*2;
      text-transform: uppercase;
      font-size: 11px;
    }
  }
}

