$el: '.page';

#{$el}{
  @include reset-float;
  &:after{ content: ''; display: table; clear: both;}
  margin-top: 60px;

  > h1, > h2, > h3, > h4{ margin-bottom: .8em; }
}


#{$el}__right{ @include float-right; }
#{$el}__left{ @include float-left; }


// определенные модификаторы, для специальных страниц
#{$el} {
  // встречается на сранице корзины у блоков общей стоимости
  .m-page-cart-checkout{
    margin-top: 2*$font-size-base;
  }
  .m-page-cart-checkout-txt{
    color: $color-gray;
    margin-top: 2*$font-size-base + 4px;
    font-style: italic;
    font-size: 16px;
    width: 580px;
  }

  // встречаются на странице списка продукта
  .m-product-list{
    margin-top: $font-size-base*2;

    small{
      @include inline-block(middle);
      font-family: $font-family-proxima-nova-semibold;
      color: $color-asphalt;
      margin-right: $font-size-base*2;
      text-transform: uppercase;
      font-size: 11px;
    }
  }

}


// особый элемент, если на странице нужно что-то в две колонки
// и это не глобальный элемент как container
#{$el}__column{


  // ========================================================
  //  области стилей для страницы с фильтром и товарами
  //
  &.m-sidebar, &.m-with-sidebar, &.m-with-right-sidebar {
    @include inline-block(top);
  }

  // сам фильтр
  &.m-sidebar {
    width: $sidebar-width;
    padding-right: $font-size-base*2
  }
  // область справа от фильтра
  &.m-main.m-with-sidebar, &.m-full-width.m-with-sidebar, &.m-main.m-with-right-sidebar {
    width: $container - $sidebar-width - 2*$grid-cutter;
    padding-left: $font-size-base;
  }
  &.m-main.m-with-right-sidebar {
    padding-left: 0;
    padding-right: $font-size-base;
  }
  // область над фильтром, но с отступом в ширину фильтра
  &.m-full-width.m-with-sidebar {
    margin-left: $sidebar-width;
  }
  &.m-full-width.m-with-right-sidebar {
    margin-right: $sidebar-width;
  }
}


#{$el}, #{$el}__column{
  // стили под страницу с текстовой информацией
  &.m-article {
    h1, h2, h3 {
      font-family: $font-family-conqueror;
    }

    h2 {
      font-size: 42px;
      margin: 0;
      padding: 0 0 $font-size-base*3;
    }
    h3 {
      font-size: 30px;
      margin: 0;
      padding: 0 0 $font-size-base*2;
    }
    h6, p {
      padding-bottom: $font-size-base;
    }

    h6 {
      color: $color-asphalt;
      font-family: $font-family-proxima-nova-semibold;
    }
    ul li {
      list-style: none;
      font-family: $font-family-proxima-nova-regular;
      font-weight: 100;
      color: $color-gray-d;
      line-height: 1.5;
      padding-left: 0;
      margin-left: 0;
    }
    p {
      font-family: $font-family-proxima-nova-regular;
      font-weight: 100;
      color: $color-gray-d;
      padding-bottom: $font-size-base;
      line-height: 1.5;
    }
    p + h6 {
      margin-top: $font-size-base;
    }
  }

  // колонка с мета информацией к статье
  // обычно в правом сайдбаре находится
  &.m-static-meta {
    h6 {
      font-family: $font-family-conqueror;
      color: $color-orange;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 45px;
      &:before {
        content: '';
      }
    }

    .link {
      margin-bottom: 1.3em;
    }
  }

  // модификатор для страницы вопросов-ответов
  &.m-faq{
    h6:before {
      content: '— ';
    }
  }
}