$el: '.products';

#{$el}__item{
  @include inline-block(top);
  width: 24.999%;
}

#{$el}__page-header{

  h1{
    font-size: 46px;
    line-height: 1.2;
    color: $color-asphalt;
    padding-bottom: $font-size-base;
  }

  small{ font-size: $font-size-base; color: $color-gray; }

  h1, small{ display: inline-block; }
  h1 + small{ margin-left: 20px;}

  p{
    font-size: $font-size-base;
    color: $color-gray;
    line-height: 1.4;
  }
}


// с модификатором скроллера
// когда они в линию и скролятся с помощью кнопок влево-вправо
#{$el}.m-scroller{
  #{$el}__item{ width: 250px; }
}

// контейнер под фильтрацию в целом
#{$el}{ margin-top: 3*$font-size-base; }

// контейнер под фильтрацию списка параметров,
// таких как ПО ЦЕНЕ или ПО ПОПУЛЯРНОСТИ и ПОКАЗАТЬ 100
#{$el}__filter-item {
  @include inline-block(top);
  width: 49.9%;

  font-family: $font-family-proxima-nova-semibold;
  font-size: $font-size-base;

  > span{
    padding-right: 1em;
    text-transform: uppercase;
    font-size: 12px;
  }
}