$el: '.scroller';
$js-el: '.js-scroller';

@import "scroller/*.png";

#{$js-el}{
  width: 100%;
  overflow: hidden;
}

#{$js-el}-container{
  position: relative;
  left: 0;
}


#{$el}{
  position: relative;
  overflow: hidden;
  padding: 0 $grid-cutter*1.5;
  margin: 0 -$grid-cutter*1.5;
}

#{$el}__btn{
  $height: 38px;
  $width: 21px;

  display: block;
  width: $width;
  height: $height;

  position: absolute;

  &.m-next, &.m-prev{ top: 50%; margin-top: -$height/2;}
  &.m-next { right: 0; @include scroller-sprite(arrow-right); }
  &.m-prev{ left: 0; @include scroller-sprite(arrow-left);}

}