* { box-sizing: border-box; }

body{ color: $color-asphalt; font-family: 'PT Serif', serif;}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-gray;
  margin: 1em 0;
  padding: 0;
}

h3, .h3{
  font-size: 42px;
  font-family: $font-family-conqueror;
}


.hidden{ display: none; visibility: hidden; }