$color-blue: #3498db;
$color-orange: #f39c12;
$color-orange-d: #d35400;
$color-gray: #bdc3c7;
$color-asphalt: #34495e;
$color-green: #729d03;

$color-logo: #f1c40f;

$font-size-base: 14px;

$container: 1200px;
$grid-cutter: 25px;

