$color-blue: #3498db;
$color-orange: #f39c12;
$color-orange-d: #d35400;

$color-gray: #bdc3c7;
$color-gray-l: #fafafa;
$color-gray-d: #7f8c8d;


$color-asphalt: #34495e;
$color-green: #729d03;
$color-green-d: #27ae60;
$color-red: #f2836b;

$color-logo: #f1c40f;

$font-size-base: 14px;

$container: 1200px;
$grid-cutter: 25px;
$menu-height: 55px;

$font-family-conqueror: conqueror_textregular, serif;
$font-family-proxima-nova-regular: proxima_nova_regular, sans-serif;
$font-family-proxima-nova-semibold: proxima_nova_semibold, sans-serif;
$font-family-proxima-nova-extrabold: proxima_nova_extrabold, sans-serif;
$font-family-proxima-nova-bold: proxima_nova_bold, sans-serif;